div.project {
	width: 100%;
	margin-bottom: 100px;
	padding-top: 4rem;
	position: relative;
	color: white;
	overflow: hidden;
}

div.project img.background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	opacity: 0.25;
	top: 0;
	left: 0;
}

div.project-content {
	position: relative;
	z-index: 1;
}

div.project-content div.main {
	display: flex;
	justify-content: space-between;
	gap: max(2rem, 5%);
	margin-bottom: 3rem;
}

div.project div.text {
	min-width: 50%;
}

div.project h1 {
	background-color: white;
	width: min-content;
	white-space: nowrap;
	padding: 0.1em 0.5em;
	margin-bottom: 0.5em;
	color: var(--bask-purple);
	text-shadow: 0.1em 0 var(--bask-blue);
	box-shadow: 0.2em 0.2em var(--bask-purple); /* change to themeColor */
	opacity: 0;
}

div.project div.floating-title-container {
	position: absolute;
	top: 4rem;
	z-index: 3;
}

div.project div.floating-title-container h1 {
	margin: 0;
	opacity: 1;
}

div.project div.floating-title-container div.gallery-exit {
	display: none;
	opacity: 0;
}

div.project div.feature-image {
	max-width: 550px;
	height: min-content;
	align-self: center;
	/* background-color: var(--bask-purple); */
	background-color: rgba(0, 0, 0, 0.6);
}

div.project div.feature-image.small {
	/* width: calc(100% - 31px); /1* 23px left + 8px outline = 31px *1/ */
	max-width: none;
	width: 100%;
	margin: 3rem 0;
}

div.project div.feature-image img {
	width: 100%;
	border: 8px solid white;
}

@media screen and (max-width: 700px) {
	div.project div.main {
		flex-direction: column;
	}
	div.project h1 {
		font-size: 2.3rem;
	}
}
