header {
    /* height: 160px; */
    padding: 15px 0;
    position: fixed;
    top: 0;
    color: white;
    /* background-color: #002e414f; */
    transition: background-color 0.2s ease-out;
}

img.logo {
    height: min(130px, 15vw);
    min-height: 80px;
}

header > div {
    height: 100%;
    justify-content: space-between;
}

header nav {
    gap: 3rem;
}

header nav a {
    height: 80%;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

header nav a:hover {
    transform: scale(1.1);
}

/* Change to mobile header */
@media screen and (max-width: 600px) {
    header > div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    header nav a {
        font-size: 1rem;
        background-color: #ffffff4a;
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}
