div.gallery {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* display: flex */
	background: black;
	display: none;
	opacity: 0;
	transition: opacity 0.4s, background 1s;
	z-index: 2;
}

div.gallery div.image-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none; /* or flex */
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition all 0.2s;
	transition: all 0.2s;
}

div.gallery img {
	max-width: calc(100% - var(--side-padding) * 2);
	max-height: calc(100% - 3rem);
	border: 0.7rem solid white;
	display: none;
}

div.gallery img.loaded {
	display: block;
}

div.gallery div.button-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: calc(50% - 1.6rem);
}

div.gallery div.text-button {
	display: none; /* or flex */
	opacity: 0;
	/* transition: opacity 0.2s; */
}

div.gallery div.loading-catalyst {
	display: absolute;
	opacity: 0;
}
